@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


/* reset */
*{margin: 0; padding: 0;}
ul,ol,li{list-style: none;}
/* 테스트용 */
body>div {margin: 50px;}

/* common */
body, code {
  font-size: 13px;
  font-family: Arial,"Apple SD Gothic Neo","Noto Sans KR","맑은 고딕","malgun gothic","돋움","dotum",sans-serif;
  color: #000;
  background: #fff;
}

/* product-listmain */

/* html 구조
<div class="ec-base-product xans-prodcut-listmain">
  <ul class="prdList grid4"> 
  <li>
    <div class="prdList__item">
      <div class="thumbnail">
*/
.ec-base-product{}
.ec-base-product .prdList{}
.ec-base-product .prdList li{
  border: 1px solid #000;/*테스트용*/
}

/* 메인분류 상품목록 단 처리 */
.ec-base-product .prdList.grid2 li{width: 50%;}
.ec-base-product .prdList.grid3 li{width: 33.33%;}
.ec-base-product .prdList.grid4 li{width: 25%;}
.ec-base-product .prdList.grid5 li{width: 20%;}

.ec-base-product .prdList .prdList__item{}
.ec-base-product .prdList .thumbnail{}

